

<html>
  <body>
     
      <div class="col text-center" ><h1>Restaurante el Marques te da la bienvenida.</h1></div>
      <div class="col text-center" ><h2>Desde 1989, intentamos dar el mejor servicio a nuestros clientes y año tras año seguimos demostrando la calidad de nuestros servicios.</h2></div>
     <img src="/src/assets/img/images.png" alt="">
  </body>
</html>



<ul style="list-style-type:none;">
  <li class="opcion"><a class="opcion" href="/carnes">Carnes</a></li>
  <li class="opcion"><a class="opcion" href="/verduras">Verduras</a></li>
  <li class="opcion"><a class="opcion" href="/pescados">Pescados</a></li>
</ul>



  
